
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div class="card" style="width: 16rem;">
        <img class="card-img-top" style="height: 10rem;" src= ""/>
        <div class="card-body">
            <h5 class="card-title display-6"></h5>
            <p class="card-text"></p>
            <form method="post" asp-action="IdProduct">
                <input name="id" value="" style="display: none" />
            <button type="submit" class="btn btn-primary container-fluid">КУПИТЬ</button>
			</form>
		</div>
    </div>


