@{
    ViewData["Title"] = "Вход";
}
<div style="position:relative; left:25%;">
<main class="form-signin" style="width:50%; justify-content:center;">
    <form >
        <img style="position:relative; left:35%;" class="mb-4" src="https://thumbs.dreamstime.com/b/prosty-smok-sylwetek-logo-130475058.jpg" alt="" width="200" height="150">
        <h1 class="h3 mb-3 fw-normal">Пожалуйста, войдите</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Адрес эл. почты</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Пароль</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Запомнить меня
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
        <p class="mt-5 mb-3 text-muted">© 2017–2025</p>
    </form>
</main>



   
</div>